@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Rua Professora Bartira Mourão<br />
    Belo Horizonte, Minas Gerais<br />
    <abbr title="Phone">P:</abbr>
    31 8653-2007
</address>

<address>
    <strong>Email: </strong> <a href="mailto:paulorocio@gmail.com">paulorocio@gmail.com</a>
</address>